:root {
  --branding-color: rgb(107, 98, 255);
  --default-color: rgb(249, 247, 253);
  --heading-font-family: "PlayFair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "PlayFair Display", serif !important;
  font-weight: bold !important;
  font-size: 96px !important;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 24px !important;
  font-weight: bold !important;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero {
  background-color: var(--default-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-branding {
  background-color: var(--branding-color) !important;
  padding: 15px 30px !important;
  color: white !important;
  border-radius: 4px;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 27px !important;
  font-family: var(--default-font-family);
  border: 1px solid var(--branding-color);
}

.btn-branding:hover {
  color: black !important;
  cursor: pointer;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color) !important;
  padding: 15px 30px !important;
  color: var(--branding-color) !important;
  border-radius: 4px;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 27px !important;
  font-family: var(--default-font-family);
}

.heading-2 {
  font-size: 64px !important;
}
.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}

.content-container h1 {
  font-size: 64px !important;
  line-height: 1.3;
}

.content-container h2 {
  font-size: 18px !important;
  font-family: var(--default-font-family);
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 44px !important;
    line-height: 1.5;
  }
  .heading-2 {
    font-size: 44px !important;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
